html {
  scroll-behavior: smooth;
}

body {
    margin: 0 !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    background-color: #001933 !important;
}

.container {
    margin: 0 15rem;
}

header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

header h1 {
    color: #EFE7DB;
    font-size: 34px;
}

.menu-header {
    display: flex;
    gap: 1.5rem;
}

.menu-header a {
    color: #EFE7DB;
    font-size: 20px;
    text-decoration: none;
    transition: 0.4s;
    scroll-behavior: smooth;
}

.menu-header a:hover {
    color: #F05C00;
    transition: 0.4s;
}

#call {
    height: 500px;
    background-color: #001933;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}

.call-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 45%;
}

.call-text h1 {
    color: #FF9B66;
    font-size: 34px;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.342);
    margin: 0;
}

.call-text p {
    font-size: 20px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.418);
    color: #EFE7DB;
}

.call-btns {
    display: flex;
    gap: 1.5rem;
}

.call-btns button {
    color: #001933;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    padding: 0 20px;
    font-weight: bold;
    border: none;
    box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.342);
}

.call-btn-1 {
    background-color: #EFE7DB;
    transition: 0.4s;
}

.call-btn-1:hover {
    background-color: #fdeed7;
    transition: 0.4s;
}

.call-btn-1:active {
    background-color: #EFE7DB;
    transition: 0.4s;
}

.call-btn-2 {
    background-color: #F05C00;
    color: #EFE7DB;
    transition: 0.4s;
}

.call-btn-2:hover {
    background-color: #ff6200;
    color: #EFE7DB;
    transition: 0.4s;
}

.call-btn-2:active {
    background-color: #F05C00;
    color: #EFE7DB;
    transition: 0.4s;
}

.call-img {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.call-img img {
    width: 600px;
    object-fit: cover;
    object-position: 0% 70%;
    height: 400px;
    border-radius: 0 18px 0 18px;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.342);
}

#about {
    align-content: center;
    background-color: #EFE7DB;
    padding: 5rem 0;
    border-top-left-radius: 50% 5%;
    border-top-right-radius: 50% 5%;
}

.about-div {
    display: flex;
    justify-content: space-between;
}

.about-img {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.about-img img {
    width: 550px;
    border-radius: 13px;
}

.about-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.about-text h1 {
    font-size: 34px;
    color: #001933;
    text-decoration: underline;
}

.about-text p {
    font-size: 20px;
    color: #001933;
    text-align: end;
}

.cards-about {
    margin-top: 4rem;
    gap: 3rem;
}

.card-about {
    position: relative;
    background-color: #FAF8F3;
    border-radius: 10px;
    margin: 2rem 0;
    padding: 1.5rem;
}

.card-about p {
    color: #001933;
}

.card-about span {
    color: #F05C00;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    top: -15px;
    margin-left: 25px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}

.span-vision {
    right: 65px !important;
}

.card-about ul li {
    margin-top: 10px;
    font-weight: bold;
}

#services {
    margin-top: -3rem;
}

.services-title {
    display: flex;
    justify-content: center;
}

#services h1 {
    color: #001933;
    text-align: center;
    display: flex;
    background-color: #FAF8F3;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 10px 0 10px 0;
    padding: 1rem 0;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.342);
}

.cards-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 5rem 0; 
}

.card-service {
    width: 400px;
    height: 500px;
    background-color: #FAF8F3;
    border-radius: 10px 0 10px 0;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.342);
    padding: 2rem;
    color: #001933;
}

.card-service ul {
    list-style: none;
    padding: 0;
}

.card-service ul li {
    position: relative;
    padding-left: 25px;
    font-weight: bold;
}

.card-service ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 0;
    color: #F05C00;
}

#clients {
    background-color: #EFE7DB;
    border-top-left-radius: 30% 5%;
    border-top-right-radius: 30% 5%;
}

.card-clients {
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.342);
    border-radius: 10px;
    background-color: #FAF8F3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#clients h1 {
    color: #EFE7DB;
    text-align: center;
    display: flex;
    background-color: #001933;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    border-radius: 10px 10px 0 0;
}

.body-clients {
    padding: 2rem;
    color: #001933;
    font-size: 1.1rem;
}

.body-clients ul {
    list-style: none;
    padding: 0;
}

.body-clients ul li {
    position: relative;
    padding-left: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.body-clients ul li::before {
    content: "\f140";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 0;
    color: #A3B1C6;
}

.clients-btns {
    display: flex;
    gap: 1.5rem;
}

.clients-btns button {
    color: #001933;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    padding: 0 20px;
    font-weight: bold;
    border: none;
}

.clients-btn {
    background-color: #A3B1C6;
    transition: 0.4s;
}

.clients-btn:hover {
    background-color: #FF9B66;
}

.clients-btn:active {
    background-color: #A3B1C6;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FAF8F3;
    height: 250px;
    color: #001933;
}

.nav-contact a, .nav-contact-icons a {
    text-decoration: none;
    color: #001933;
    font-size: 20px;
    font-weight: bold;
}

.nav-contact-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-div {
    height: 225px;
    background-color: #FAF8F3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-contact-icons span {
    color: #001933;
    font-weight: bold;
}

.nav-contact-icons a {
    display: flex;
    align-items: center;
}

.nav-contact a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-contact a i, .nav-contact-icons a i {
    font-size: 30px;
    transition: 0.4s;
}

.nav-contact a:hover i, .nav-contact-icons a:hover i {
    color: #F05C00;
    transition: 0.4s;
}

.footer-copy {
    display: flex;
    font-weight: 500;
    justify-content: center;
    width: 100%;
}